.login{
    display: grid;
    grid-template-columns: 60% 40%;
    max-height: 100vh;

    .logo{
        padding: 60px 70px;
        margin: a auto;
        

        .logo-supmti{ 
            img{
                width: 400px;
                margin: 0 auto;
            }
        }
        .logo-friend{
          margin-top: 40px;

          img{
            width: 80%; 
            margin: 0 auto;
          }
        }
    }

    .form{
        margin-top: 80px;
        margin-right: 20px;
    
        .title{
            h1{
                color: $blue;
                font-size: 5rem;
                font-weight: 800;
                text-align: center;
                line-height: 85px;
                
                
            }
            p{
                font-weight: 700;
                font-size: 1.2rem;
                color: $black;
                margin: 20px 0;
            }
        }
    }
    
    #inputlogin{
        width: 505px;
       border-left: 4px solid $blue;
    }
    .sumbit-btn{
        display: flex;
        flex-direction: column;
       width: 505px;
       margin: 20px 0 15px;
    }
    #submit-login{
        background: $blue ;
    }
    #forget-password{
        color: $blue; 
    }

}