.paiment {

    .box-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .box-manager {
        background: rgba(179, 174, 174, 0.267);
        padding: 20px;
        border-radius: 8px;

        >div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }

        .input-box {
            div {
                display: flex;
                flex-direction: column;
                margin: 10px 0;
            }
        }

        select,
        input {
            height: 35px;
            border-radius: 5px;
            border: 1px solid rgb(204, 204, 204);
            width: 300px;
        }

        button {
            background: $blue;
            color: white;
            padding: 4px 20px;
            border-radius: 5px;
            display: block;
            margin: 5px auto;
            cursor: pointer;
        }
    }

    h3 {
        margin: 30px 0;
        font-size: 2.1rem;
        color: $blue;
        font-weight: 900;
    }

    .title {
        color: $blue;
        font-size: 1.2rem;
        text-align: left;
        margin: 40px 0 6px;
        font-weight: 900;

    }

    .table-payment {
        background: rgba(233, 231, 231, 0.692);
        border-radius: 5px;

        table {
            width: 1200px;
            margin: 0 auto;

            .action {
                border: 1px solid rgb(194, 193, 193);
                padding: 5px 6px;
                border-radius: 5px;
                background: rgb(194, 193, 193);
                transition: 0.15s;
                cursor: pointer;
            }

            thead {
                background: $blue;
                color: white;
            }

            tbody {
                tr:nth-child(2n+1) {
                    background: #EEEEEE;
                }

                tr:nth-child(2n) {
                    background: white;
                }
            }
        }

        .hidden-box {
            display: none;
            position: relative;

            .action-box {
                display: flex;
                flex-direction: column;
                position: absolute;
                background: rgb(168, 152, 152);
                border: 1px solid rgb(168, 152, 152);
                padding: 5px;
                border-radius: 5px;

                a {
                    margin: 2px 0;
                    transition: 0.15s;

                    &:hover {
                        color: $blue ;
                    }
                }
            }
        }

        .visible-box {
            display: block;
        }
    }

    #left-part {
        th {
            text-align: left;
        }
    }

    .masque-pdf {
        visibility: hidden;
        opacity: 0;
        display: none;
    }

    #pdfsave {
        transition: 0.15s;
        cursor: pointer;

        &:hover {
            background: rgb(15, 168, 206);
        }
    }


}